body {
  background-color: #fcd6e3;
  color: #c2185b;
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}
#malla {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.materia {
  background: white;
  border: 2px solid #c2185b;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
  width: 300px;
  text-align: left;
}
.aprobada {
  background-color: #d1ffd6;
